*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Indie Flower', cursive;


}

h2{
  transition: all 0.2s ease-out;
}

h2:hover{

transform: skewX(1deg) skewY(-1deg);



}





body{
  overflow-x : hidden;

  background-color: #bab3ad;
}

#logo:hover{
transition: all 1s;
transform: rotate(360deg);

}


.navbar-custom {

  background-color: rgb(84, 48,0, 0.7);

}

.navbar-custom #logo{

transition: all 0.4s;

}

.navbar-custom .navbar-nav .nav-link {
    color:rgba(255,255,255,.5);

}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

 .nav-item {

border-bottom: 2px solid white;
 }


.navbar-custom .navbar-nav .nav-link:hover{

color: white;

}



.slide-container {
  width: 95%;

  margin: auto; }


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 85vh;
  position: relative;
}



.each-slide span {
  padding: 20px;
  font-size: 70px;
background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color:white;
}





@media(min-width : 577px) {
.nav-item {

 border-bottom: none;
  }
}


@media(max-width : 577px) {
.nav-item {

text-align: center;
margin: 15px;
  }
}
